<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-plane" aria-hidden="true"></i>
          <strong>Buscar Vuelos</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
              <div class="col-md-6">
                <label class="radio-inline" for="inline-radio1">
                  <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Ida y Vuelta
                </label>
                <label class="radio-inline" for="inline-radio2">
                  <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Solo ida
                </label>
              </div>
            </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Origen</label>
                <input type="text" class="form-control" id="name" placeholder="Ciudad Origen">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Destino</label>
                <input type="text" class="form-control" id="name" placeholder="Ciudad Destino">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ccnumber">Ida</label>
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ccnumber">Regreso</label>
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ccnumber">Pasajeros</label>
                <input type="number" class="form-control">
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-md-3 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" name="button">Buscar Vuelos</button>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
  </div>
</div>
