<div class="animated fadeIn">
<div class="row">
  <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10">
              <i class="fa fa-users"></i><strong> Usuarios </strong>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
              <div class="btn-group">
                <button (click)="agregarNuevo()" type="button" class="btn btn-secondary"><i class="fa fa-file-o" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Perfil</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombres}} {{usuario.apellidos}}</td>
                <td *ngIf="usuario.idRol==1">Admin</td>
                <td *ngIf="usuario.idRol!=1">Usuario</td>
                <td>
                  <div class="d-flex justify-content-end">
                    <div>
                      <button [routerLink]="['/usuario',usuario.identificacion]" type="button" class="btn btn-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </div>
                    <!-- <div>
                      <button (click)="borrarUsuario(usuario)" type="button" class="btn btn-primary btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="loading" class="card-block">
          <div class="col-md-12 alert alert-info" role="alert">
            <strong>Cargando....</strong> Por favor espere.
          </div>
        </div>
        <div *ngIf="errorMensaje" class="card-block">
          <div class="col-md-12 alert alert-danger" role="alert">
            <strong>Opps!! </strong> {{errorMensaje}}
          </div>
        </div>
      </div>
    </div>
</div>
</div>
