<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo.png" width="80" height="30" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li *ngIf="login.autenticado() && login.permiso('usuarios')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['usuarios']">Usuarios</a>
      </li>
      <li *ngIf="login.autenticado() && login.permiso('vuelos')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['vuelos']">Vuelos</a>
      </li>
      <li *ngIf="login.autenticado() && login.permiso('reservas')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['reservas']">Reservas</a>
      </li>
    </ul>
    <ul *ngIf="login.autenticado()" class="navbar-nav navbar-right">
      <li class="nav-item dropdown" dropdown>
      <a class="nav-link nav-pill" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <small>{{login.usuario.login}}</small>
      </a>
      <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i> Perfil</a>
        <button (click)="salir()" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</button>
      </div>
    </li>
    </ul>
    <ul *ngIf="!login.autenticado()" class="navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['login']"><small> Iniciar Sesion </small></a>
      </li>
    </ul>
  </div>
</nav>
